<section class="about-us" id="about-us">
<div class="container dop-container">
    <div class="box-about-us">
        <h2 class="about-us-title">About Us</h2>
        <p class="about-us-paragraf">Welcome to our premium watch collection, where luxury and style meet functionality
            and precision. Our selection of
            timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a
            reliable
            and stylish accessory on your wrist.</p>
        <p class="about-us-paragraf drop-buton">At our premium watch collection, we believe that a watch is more than just a
            timekeeping device – it's a statement piece
            that reflects your personality and style. So why settle for anything less than the best?</p>
        <a href="#catalog" class="about-us-button">View catalog</a>
        </div>
    <picture class="about-us-img">
        <source srcset="./img/about-us/about-us-one-ps.jpg 1x, ./img/about-us/about-us-two-pc.jpg 2x" media="(min-width: 1280px)">
        <source srcset="./img/about-us/about-us-one-pla.jpg 1x, ./img/about-us/about-us-two-pla.jpg 2x" media="(min-width: 768px)">
        <img src="./img/about-us/about-us-one-tel.jpg" srcset="./img/about-us/about-us-one-tel.jpg 1x, ./img/about-us/about-us-two-tel.jpg 2x" alt="about-us" class="img-border-radius">
    </picture>
</div>
</section>
