<section id="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-menu">
            <li class="catalog-list">
                <picture>
                    <source srcset="./img/catalog/main/ctlg-7x-solar.png 1x, ./img/catalog/main/ctlg-7x-solar@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/catalog/tablet/ctlg-7x-solar-tab.png 1x, ./img/catalog/tablet/ctlg-7x-solar-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./img/catalog/mobile/ctlg-7x-solar-mob.png 1x, ./img/catalog/mobile/ctlg-7x-solar-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="catalog-image" src="./img/catalog/main/ctlg-7x-solar-mob.png" alt="garmin-fenix-7x-pro">
                </picture>

                <h3 class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</h3>
                <p class="catalog-price">€500</p>
            </li>

            <li class="catalog-list">
                <picture>
                    <source srcset="./img/catalog/main/ctlg-athlete.png 1x, ./img/catalog/main/ctlg-athlete@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/catalog/tablet/ctlg-athlete-tab.png 1x, ./img/catalog/tablet/ctlg-athlete-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./img/catalog/mobile/ctlg-athlete-mob.png 1x, ./img/catalog/mobile/ctlg-athlete-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="catalog-image" src="./img/catalog/main/ctlg-athlete-mob.png" alt="garmin-marq-athlete">
                </picture>

                <h3 class="catalog-text">Garmin Marq Athlete</h3>
                <p class="catalog-price">€450</p>
            </li>

            <li class="catalog-list">
                <picture>
                    <source srcset="./img/catalog/main/ctlg-mk1.png 1x, ./img/catalog/main/ctlg-mk1@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/catalog/tablet/ctlg-mk1-tab.png 1x, ./img/catalog/tablet/ctlg-mk1-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./img/catalog/mobile/ctlg-mk1-mob.png 1x, ./img/catalog/mobile/ctlg-mk1-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="catalog-image" src="./img/catalog/main/ctlg-mk1-mob.png" alt="garmin-fenix-7x-pro">
                </picture>

                <h3 class="catalog-text">Garmin Descent MK1</h3>
                <p class="catalog-price">€680</p>
            </li>

            <li class="catalog-list">
                <picture>
                    <source srcset="./img/catalog/main/ctlg-px.png 1x, ./img/catalog/main/ctlg-px@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/catalog/tablet/ctlg-px-tab.png 1x, ./img/catalog/tablet/ctlg-px-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/catalog/mobile/ctlg-px-mob.png 1x, ./img/catalog/mobile/ctlg-px-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img class="catalog-image" src="./img/catalog/main/ctlg-px-mob.png" alt="garmin-d2-delta-px">
                </picture>

                <h3 class="catalog-text">Garmin D2 Delta PX</h3>
                <p class="catalog-price">€380</p>
            </li>

            <li class="catalog-list hide">
                <picture>
                    <source srcset="./img/catalog/main/ctlg-6-solar.png 1x, ./img/catalog/main/ctlg-6-solar@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/catalog/tablet/ctlg-6-solar-tab.png 1x, ./img/catalog/tablet/ctlg-6-solar-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="catalog-image" src="./img/catalog/main/ctlg-6-solar-tab.png" alt="garmin-fenix-6-pro">
                </picture>

                <h3 class="catalog-text">Garmin Fenix 6 Pro Solar</h3>
                <p class="catalog-price">€400</p>
            </li>

            <li class="catalog-list hide">
                <picture>
                    <source srcset="./img/catalog/main/ctlg-s42.png 1x, ./img/catalog/main/ctlg-s42@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/catalog/tablet/ctlg-s42-tab.png 1x, ./img/catalog/tablet/ctlg-s42-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="catalog-image" src="./img/catalog/main/ctlg-s42-tab.png" alt="tube-watch-s42">
                </picture>

                <h3 class="catalog-text">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-price">€395</p>
            </li>
        </ul>
        <button class="catalog-btn" type="button">Show more</button>
    </div>
</section>