<footer class="footer">
  <div class="container">
    <div>
      <div>
        <a href="./index.html" class="footer-logo">watchcharm</a>
        <ul class="media-footer-list">
          <li>
            <a href="" class="media-footer-link">
              <svg class="media-icon">
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/ "
              class="media-footer-link"
            ></a>
          </li>
          <li><a href="" class="media-footer-link"></a></li>
        </ul>
      </div>
      <address>
        <a class="tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </div>
    <p class="footer-text">
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </p>
    <div>
      <ul class="footer-list">
        <li><a href="" class="footer-link"></a></li>
        <li><a href="" class="footer-link"></a></li>
        <li><a href="" class="footer-link"></a></li>
        <li><a href="" class="footer-link"></a></li>
        <li><a href="" class="footer-link"></a></li>
        <li><a href="" class="footer-link"></a></li>
      </ul>
      address>a.
    </div>
  </div>
</footer>
