<header class="header">
  <div class="container header-container">
    <a class="logo-header" href="./index.html">watchcharm</a>

    <nav class="nav-header">
      <ul class="nav-list-header">
        <li class="nav-item-header">
          <a class="nav-link-header current" href="./index.html">Home</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#about-us">About Us</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#sale">Sale</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item-header">
          <a class="nav-link-header" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="social-list-header">
      <li class="social-item-header">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link-header"
          target="_blank"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-item-header">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link-header"
          target="_blank"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-item-header">
        <a
          href="https://www.youtube.com/c/GoIT/"
          class="social-link-header"
          target="_blank"
        >
          <svg class="social-icon" width="20" height="20">
            <use href="./img/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="34" height="16">
        <use href="./img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu is-open">
    <button class="mobile-btn" type="button">
      <svg class="mobile-btn-icon-close" width="17" height="17">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <nav class="nav-mobile">
      <ul class="nav-list-mobile">
        <li class="nav-item-mobile">
          <a class="nav-link-mobile current" href="./index.html">Home</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#about-us">About Us</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#sale">Sale</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item-mobile">
          <a class="nav-link-mobile" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="social-list-mobile">
      <li class="social-item-mobile">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link-mobile"
          target="_blank"
        >
          <svg class="social-icon-mobile" width="18" height="18">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item-mobile">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link-mobile"
          target="_blank"
        >
          <svg class="social-icon-mobile" width="18" height="18">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item-mobile">
        <a
          href="https://www.youtube.com/c/GoIT/"
          class="social-link-mobile"
          target="_blank"
        >
          <svg class="social-icon-mobile" width="18" height="18">
            <use href="./img/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
