<section class="section-hero">
  <div class="container">
    <div class="hero-div-one">
      <div class="hero-text-div">
        <h1 class="hero-main-header">
          Welcome to our <span class="hero-header-col">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-image-div">
        <picture class="hero-people">
          <source
            media="(min-width: 1280px)"
            srcset="./img/hero/people-1x.jpg 1x, ./img/hero/people-2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/people-tab-1x.jpg 1x,
              ./img/hero/people-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/people-mob-1x.jpg 1x,
              ./img/hero/people-mob-2x.jpg 2x
            "
          />
          <img src="./img/hero/people-mob-1x.jpg" alt="people" />
        </picture>
        <a href="#footer" class="hero-button">Scroll down</a>
      </div>
    </div>
    <div class="hero-div-image">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./img/hero/hero-1x.jpg 1x, ./img/hero/hero-2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/hero/hero-tab-1x.jpg 1x, ./img/hero/hero-tab-2x.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/hero/hero-mob-1x.jpg 1x, ./img/hero/hero-mob-2x.jpg 2x"
        />
        <img src="./img/hero/hero-mob-1x.jpg" alt="hero" />
      </picture>
    </div>
  </div>
</section>
