<!-- #region sale -->
<section class="section" id="sale">
  <div class="container">
    <h2 class="h-two-sale">Sale</h2>
    <div class="container-for-decstop-version">
      <ul class="ul-list-img-sale">
        <li class="li-list-img-sale">
          <picture>
            <source
              srcset="
                ./img/sale/decstop-img-sale/first-clock.png    1x,
                ./img/sale/decstop-img-sale/first-clock-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/sale/tab-img-sale/first-clock.png    1x,
                ./img/sale/tab-img-sale/first-clock-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/mob-img-sale/first-clock.png    1x,
                ./img/sale/mob-img-sale/first-clock-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="img-sale"
              src="./img/sale/mob-img-sale/first-clock.png"
              alt="First clock"
            />
          </picture>
        </li>
        <li class="li-list-img-sale">
          <picture>
            <source
              srcset="
                ./img/sale/decstop-img-sale/second-clock.png    1x,
                ./img/sale/decstop-img-sale/second-clock-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/sale/tab-img-sale/second-clock.png    1x,
                ./img/sale/tab-img-sale/second-clock-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/mob-img-sale/second-clock.png    1x,
                ./img/sale/mob-img-sale/second-clock-2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./img/sale/mob-img-sale/second-clock.png"
              alt="Second clock"
            />
          </picture>
        </li>
        <li class="li-list-img-sale">
          <picture>
            <source
              srcset="
                ./img/sale/decstop-img-sale/third-clock.png    1x,
                ./img/sale/decstop-img-sale/third-clock-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/sale/tab-img-sale/third-clock.png    1x,
                ./img/sale/tab-img-sale/third-clock-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/mob-img-sale/third-clock.png    1x,
                ./img/sale/mob-img-sale/third-clock-2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./img/sale/mob-img-sale/third-clock.png"
              alt="Third clock"
            />
          </picture>
        </li>
        <li class="li-list-img-sale">
          <picture>
            <source
              srcset="
                ./img/sale/decstop-img-sale/four-clock.png    1x,
                ./img/sale/decstop-img-sale/four-clock-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/sale/tab-img-sale/four-clock.png    1x,
                ./img/sale/tab-img-sale/four-clock-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/mob-img-sale/four-clock.png    1x,
                ./img/sale/mob-img-sale/four-clock-2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./img/sale/mob-img-sale/four-clock.png"
              alt="Four clock"
            />
          </picture>
        </li>
        <li class="li-list-img-sale">
          <picture>
            <source
              srcset="
                ./img/sale/decstop-img-sale/main-clock.png    1x,
                ./img/sale/decstop-img-sale/main-clock-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/sale/tab-img-sale/main-clock.png    1x,
                ./img/sale/tab-img-sale/main-clock-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/mob-img-sale/main-clock.png    1x,
                ./img/sale/mob-img-sale/main-clock-2x.png 2x
              "
              media="(max-width:767px)"
            />

            <img
              src="./img/sale/mob-img-sale/main-clock.png"
              alt="Main clock"
            />
          </picture>
        </li>
      </ul>
      <div class="container-sale">
        <h3 class="h-three-sale">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="first-p-sale">Product tag: 706587</p>

        <div class="div-conainer-price">
          <p class="first-p-sale-price">€1500</p>

          <p class="second-p-sale-price">€3000</p>
        </div>
        <p class="second-p-sale">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="ul-list-block-sale">
          <li class="li-list-block-sale">
            <p class="p-sale-list-block">Fused carbon fiber</p>
          </li>
          <li class="li-list-block-sale">
            <p class="p-sale-list-block">Grade-5 Titanuim</p>
          </li>
          <li class="li-list-block-sale">
            <p class="p-sale-list-block">Athlete</p>
          </li>
          <li class="li-list-block-sale">
            <p class="p-sale-list-block">Golfer</p>
          </li>
          <li class="li-list-block-sale">
            <p class="p-sale-list-block">Commander</p>
          </li>
          <li class="li-list-block-sale">
            <p class="p-sale-list-block">Adventurer</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- #endregion sale -->
