.about-us {
    display: grid;
        grid-template-columns: 1fr 1fr;
        /* Дві колонки однакової ширини */
        gap: 20px;
        /* Відстань між колонками */
        align-items: center;
        /* Вирівнювання по вертикалі */
        margin-right: 65px;
        margin-left: 65px;
}

.box-about-us {
    background-color: #F3F3F3;
    /* margin: 20px auto; */
    /* text-align: center; */
    /* text-align: left; Вирівнювання тексту по лівій стороні */
    border-radius: 50px;
    padding: 80px 60px;
    width: 580px;
    height: 532px;
    text-align: left;
        /* Вирівнювання тексту по лівій стороні */
}

.about-us-title {
    margin-top: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 48px;
    display: flex;
    line-height: 92%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.about-us-paragraf {
    margin: 10px 0;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.drop-buton {
    margin-bottom: 40px;
}

.about-us-button {
    background-color: #3350E9;
    color: #FBFBFB;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.about-us-button:hover {
    background-color: #1F3CD4;
}

.about-us-button:focus {
    background-color: #1F3CD4;
}

.about-us-img {
    display: flex;
}

.image {
    text-align: right;
    /* Вирівнювання зображення по правій стороні */
}

.about-us-img {
    max-width: 100%;
    width: 530px;
    height: 532px;
}

.img-border-radius {
    border-radius: 50px;
}