.first-h-three-sale {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 24px;
}

.ul-list-img-sale {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 5px;
    margin-bottom: 20px;
}

.li-list-img-sale:not(:last-child) {
    border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 16px;
        width: 80px;
        height: 80px;
        background-color: #f3f3f3;
display: flex;
    justify-content: center;
    align-items: center;
}
.li-list-img-sale:last-child{
    border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 30px;
        width: 335px;
        height: 385px;
        background-color: #f3f3f3;
        display: flex;
            justify-content: center;
            align-items: center;
}
.container-sale{
    border-radius: 30px;
        width: 335px;
        height: 561px;
        background-color: #3350e9;
}
.container-text-sale {
padding-top: 48px;
margin-left: 28px;
margin-right: 28px;
   margin-bottom: 20px;
}

.second-h-three-sale {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.first-p-sale {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        color: rgba(251, 251, 251, 0.5);
}

.div-conainer-price {
    display: flex;
    margin-left: 28px;
    margin-bottom: 28px;
}

.div-container-cena {
    border-radius: 8px;
        width: 68px;
        height: 32px;
        background-color: rgba(251, 251, 251, 0.1);
        text-align: center;
}

.first-p-sale-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
        color: #fbfbfb;
        padding-top: 8px;
}

.second-p-sale-price {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: -0.02em;
        text-decoration: line-through;
        color: rgba(251, 251, 251, 0.5);
        padding-top: 9px;
        margin-left: 9px;
}

.second-p-sale {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 28px;
}



.ul-list-block-sale {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 28px;
    margin-right: 28px;
}

.li-list-block-sale {
border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    width: max-content;
}
.p-sale-list-block{
        font-weight: 500;
        font-size: 12px;
        line-height: 133%;
        color: #fbfbfb;
}


/* #region sale tab */
@media only screen and (min-width: 768px){

    .first-h-three-sale {
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
    }

    .ul-list-img-sale{
        display: block;
        position: relative;
        margin-bottom: 40px;
    }


        .li-list-img-sale:not(:last-child){
         border-radius: 20px;
         width: 132px;
         height: 132px;
    }

        .li-list-img-sale:not(:first-child){
            margin-top: 10px;
        }

        .li-list-img-sale:last-child{
            position: absolute;
                border-radius: 50px;
                width: 552px;
                height: 558px;
                left: 152px;
                top: 0;
                margin-top: 0;
        }


    .container-sale {
    border-radius: 50px;
    width: 704px;
    height: 518px;
    }

    .container-text-sale {
    padding-top: 60px;
    margin-left: 60px;
    margin-right: 208px;
    margin-bottom: 20px;
    }

    .second-h-three-sale {
            font-size: 32px;
            line-height: 112%;
    }

    .div-conainer-price {
        margin-left: 60px;
        margin-bottom: 30px;
    }

    .div-container-cena {
    width: 78px;
    }

    .first-p-sale-price {
    font-size: 20px;
    line-height: 100%;
    }


    .second-p-sale {
    font-size: 16px;
    line-height: 125%;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
    }

    .ul-list-block-sale {
    margin-left: 60px;
    margin-right: 246px;
    }

    .p-sale-list-block {
    font-size: 14px;
    line-height: 129%;
    }










}
/* #endregion sale tab */







@media only screen and (min-width: 1280px){
.first-h-three-sale {
            font-size: 48px;
            line-height: 92%;
    }

    .container-for-decstop-version{
        display: flex;
    }

    .li-list-img-sale:last-child{
    width: 428px;
    }
    
    .container-sale {
            width: 530px;
            height: 558px;
            margin-left: 488px;
    }

    .container-text-sale {
        margin-right: 81px;
    }

    .second-p-sale-price {

    }

    .ul-list-block-sale {
        margin-right: 72px;
    }
}
    
